@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento");
*

body{
    background: url('../images/Diwali\ 1.jpg');
    margin: 0;
    padding: 0;
    font-family: 'Sacramento', sans-serif;
    scroll-behavior: smooth;
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 350px;
    border: 2px solid rgb(193, 103, 25);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/Diwali\ 2.jpg');;
    opacity: 0.8;

}

h1{
    padding: 0px;
    margin: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    line-height: 60px;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, .2);
    animation: sec 2s infinite;
}

h1 span{
    font-size: 70px;
    animation: sec 2s infinite;
}

  @keyframes sec{
      0%{
          color: orange;
      }
      10%{
          color: red;
      }
      20%{
          color: rgb(212, 66, 66);
          letter-spacing: 2px;
      }
      30%{
          color: lime;
      }
      40%{
          color: green;
      }
      50%{
          color: blue;
          letter-spacing: 5px;
      }
      60%{
          color: magenta;
      }
      70%{
          color: maroon;
      }
      80%{
          color: rgb(0, 140, 255);
          letter-spacing: 2px;
      }
      90%{
          color: bisque;
      }
      100%{
          color: yellow;
          letter-spacing: 0px;
      }
  }

  footer{
      color: bisque;
      top: 84%;
      position: absolute;
      margin: 0 25%;
      width: 50%;
      background-color: rgba(255, 68, 0, 0.721);
      border-radius: 15px;
      opacity: 0.8;
      font-family: 'Dancing Script', cursive;
  }

  footer .content{
      margin: 0px 25px;
      text-align: center;
      font-size: 18px;
  }

  footer .K{
      text-align: right;
      margin-right: 5px;
  }
  .fireworks
  {
      position: fixed;
  }
  section.content
{
	z-index: 1;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section:nth-child(2).content
{
	padding-top: 100vh;
}
section.content h2
{
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-size: 8em;
	line-height: 0.9em;
}
section.content h2 c
{
	color: #fff;
	-webkit-text-stroke: 0 #fff;
}
section.content h2 span
{
	position: relative;
	background: #ffffff;
	font-size: 0.2em;
	display: inline-block;
	color: #000;
	padding: 0 10px;
	top: -30px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5em;
	-webkit-text-stroke: 0px #fff;
}
::-webkit-scrollbar
{
	width: 0;
}
section.content img
{
	max-width: 300px;
    opacity: 0.5;
    mix-blend-mode: overlay;
}